# Turn on the rewrite engine
RewriteEngine On

# Exclude static files from being rewritten to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php
RewriteRule ^ index.php [L]
